body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

#form {
    /* width: 90vw; */
    background-color:beige;
    padding: 10px;
}

#tree-array {
    width: 500px;
}

#svg-display {
    background-color: lightblue;
    width: 90vw;
    height: 90vh;
}

.node {
    stroke: black;
    stroke-width: 2;
    fill: pink;
}

.no-left,
.no-right {
    fill: lightgoldenrodyellow;
}
.no-left.no-right {
    fill: lightgreen;
}
.node-val {
    pointer-events: none;
    font-size: 20px;
}

.branch {
    stroke: black;
    stroke-width: 2;
}


/* Create New Node */
.new-node-area {
    pointer-events: bounding-box;
    opacity: 0.25;
}
.new-node-area:hover {
    opacity: 1;
}
.new-node {
    pointer-events: none;
    stroke: darkgray;
    fill: lightgrey;
}
.branch.new-branch {
    pointer-events: none;
    stroke: darkgray;
}



