/*
COLORS
#199688 (main)

#e0f2f1
#b2dfdb
#4db6ac
#127a6b
#074d40
*/

body {
    background-color: #EEE;
    margin: auto;
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
}

input,
code,
#svg-container {
    font-family: Monaco, 'Lucida Console', monospace;
}

code {
    color: #127a6b;
    background-color: white;
}

/********** PAGE TOP **********/
#page-top {
    background-color: #222;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
    border-radius: 0px 0px 5px 5px;
}

.page-top-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0px 10px;
}
.page-top-item.push-right {
    margin-left: auto;
}
.page-top-item.push-right:hover{
    filter: brightness(0) saturate(100%) invert(36%)
            sepia(89%) saturate(1937%) hue-rotate(149deg)
            brightness(92%) contrast(80%);
}

/********** MENU BAR **********/
#menu-bar {
    width: 100%;
}
#menu-bar-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-bar-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: 5px;
    /* border-bottom: 3px solid transparent; */
}
.menu-bar-list-item.active {
    color: #199688;
    /* border-bottom: 3px solid #199688; */
}
.expand-icon.active {
    color: #199688;
    transform: rotate(90deg);
}
.menu-bar-list-item:hover {
    cursor: pointer;
    color: #199688;
}

/********** COLLAPSIBLE CONTAINERS **********/
.collapsible {
    width: 100%;
    display: none;
}
.collapsible.active {
    display: block;
}

/********** INPUT CONTAINER **********/
#input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tree-array-input {
    min-width: 500px;
    max-width: 100%;
    padding: 5px;
    margin: 10px;
}


/********** BUTTONS CONTAINER **********/
#buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.create-tree {
    border: none;
    padding: 8px 16px;
    margin: 0;
    text-decoration: none;
    background-color: #199688;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}
.create-tree:hover {
    background: #127a6b;
}


/********** SVG CONTAINER **********/
#svg-container {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

#svg-display {
    width: 100%;
    height: 98%;
    margin: 0;
    padding: 0;
}

.empty-tree-message {
    stroke: #199688;
}
.empty-tree-message-group:hover {
    cursor: pointer;
}

.node {
    stroke: black;
    stroke-width: 2;
    fill: lightgray;
}
.node.leaf {
    fill: lightgreen;
}
.node-val {
    pointer-events: none;
    font-size: 20px;
}

.branch {
    stroke: black;
    stroke-width: 2;
}

/* Create New Node */
.new-node-area {
    opacity: 0.25;
}
.new-node-area:hover { /*add tag g, works in firefox?*/
    opacity: 1;
}
.new-node-boundary {
    opacity: 0; /* set to a non-zero value to see 'hitbox' of new node*/
}
.new-node {
    pointer-events: none;
    stroke: darkgray;
    fill: lightgrey;
}
.branch.new-branch {
    pointer-events: none;
    stroke: darkgray;
}
.edit-value-container {
    display: flex;
}
.edit-value-input {
    width: 100%;
    text-align: center;
}